:root {
  /* Fonts  */
  --main-font-family: 'Poppins', sans-serif;

  /* Colors */
  --main-dark-color: #000;
  --main-light-color: #fff;
  --current-color: #939393;
  --main-color: #8f95a5;
  --secondary-color: #263238;
  --border-color: #c4c4c4;
  --badge-bg-color: #eeeeee;
  --badge-color: #546269;

  --color: #f5f5f5;

  /* Size */
  --primary-font-size: 16px;

  /* Weight */
  --normal-font: 400;
  --medium-font: 500;
  --bold-font: 600;
}

body {
  font-family: var(--main-font-family);
  color: var(--main-color);
  font-size: var(--primary-font-size);
  font-weight: var(--normal-font);
  font-style: normal;
}

/* Common Styles*/

.link {
  text-decoration: none;
  color: inherit;
}

.button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  padding: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.section {
  background-color: var(--main-light-color);
}

.section-title {
  font-weight: var(--bold-font);
  font-size: 48px;
  line-height: 1.67;
  color: var(--main-dark-color);
}

.current {
  color: var(--current-color);
}

.container {
  width: 1340px;
  margin: 0 auto;
  outline: 1px solid tomato;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Header */

.header {
  background-color: var(--main-light-color);
  padding-top: 56px;
  padding-bottom: 48px;
}

.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-logo {
  line-height: 1.5;
  font-size: 36px;
  color: var(--main-dark-color);
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* Alternative margin */

/* .nav-item + .nav-item {
  margin-left: 30px;
} */

.nav-link {
  font-weight: var(--medium-font);
  font-size: 20px;
  line-height: 1.5;

  color: var(--secondary-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--main-color);
}

.header-button {
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  font-size: 24px;
  line-height: 1.5;
  padding: 17px 57px;

  color: var(--main-dark-color);
  background-color: var(--main-light-color);
}

.header-button:hover,
.header-button:focus {
  background-color: var(--main-color);
  color: var(--main-light-color);
}

/* Main */

.hero-title {
  font-weight: var(--bold-font);
  font-size: 64px;
  line-height: 1.25;

  color: var(--main-dark-color);
}

.hero-description {
  font-size: 24px;
  line-height: 1.5;
}

.hero-button {
  font-size: 36px;
  line-height: 1.5;
  border-radius: 15px;
  padding: 32px 117px;

  background-color: var(--secondary-color);
  color: var(--main-light-color);
}
